header
    nav
        h1 Ali Abdelbaky
        ul.nav-list
            li.nav-links
                a( data-page="home" href="#0") Home
            li.nav-links
                a( data-page="project" href="#1") Project
            li.nav-links
                a( data-page="contact" href="#2") Contact
            .bubble