-var pageTitle="Animated Navbar"
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
    body
        //- START NAVBAR
        include pug/layout/navbar
        //- START MAIN 
        include pug/layout/mainsection
        //- Scripts
        include pug/layout/scripts